.nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid #D9D9D9;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box; /* padding 입력해도 내가 처음에 원했던 box size 변경하지 않음 */
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: #2D363E;
    position: relative;
}

.nav__notification {
    display: block;
    color: white; 
    font-weight: 600;
    background-color: #FE622A;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* 가장 가까운 position: relative 가진 부모 기준으로 움직이므로 꼭 설정해주어야 한다! */
    left: 15px;
    bottom: 15px;
}

.nav__dot {
    display: block;
    background-color: #FE622A;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    bottom: 25px;
}